NODE_ENV=development

FRONT_PORT=3000
BACK_PORT_MAIN=4000
BACK_PORT_SEC=4001
BACK_PORT_PRISMA=5555
BACK_PORT_DEBUG=9229

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme_please
POSTGRES_DB=app_db